body {
    margin: 0;
    font-family: 'PT Sans';
    overflow: hidden;
    background-color: #F6F7F8;
}

.dNone {
    display: none;
}

main {
    margin-left: 232px;
    margin-top: 95px;
    max-width: 1920px;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
.scrollbar {
    overflow: overlay
  }
  
  .scrollbar::-webkit-scrollbar {
    background-color: rgba(0,0,0,0);
    width: 8px;
    height: 8px;
    z-index: 999999;
    ;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #a0a0a5;
    border-radius:16px;
    border:0px solid #fff;
  }
  
  .scrollbar::-webkit-scrollbar-button {
    display:none;
  }
  
  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #a0a0a5;
  }
  


@font-face {
    font-display: swap;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/pt-sans-v17-latin-regular.woff2') format('woff2');

}

@font-face {
    font-display: swap;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/pt-sans-v17-latin-italic.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/pt-sans-v17-latin-700.woff2') format('woff2');

}


@font-face {
    font-display: swap;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/pt-sans-v17-latin-700italic.woff2') format('woff2');

}

@media (max-width: 1300px) {
    .scrollbar::-webkit-scrollbar {
        height: 8px;
      }
      
}


@media (max-width: 990px) {
    .widget {
        padding-left: 0px;
        width: unset;
    }

    .mobile_headerNav {
        height: 204px;
    }

    .headerNavHelp {
        display: block !important;
    }

    header {
        height: 70px;
        left: 0;
        padding: 0px 12px;
    }

    .mobile_headerNav {
        top: 51px;
    }


    header p {
        display: none;
    }

    .join_logo_mobile {
        display: block;
    }

    .user-info img {
        display: none;
    }

    .sidebarlogo {
        display: none;
    }

    main {
        margin: 0px;
        overflow: hidden;
    }

    .sidelinks {
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        padding: 0px 8px;
    }

    .sidelinks a {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
    }

    #sidebar {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 70px;
        bottom: 0;
        flex-direction: row;
        top: unset;
    }

    .sidebarimg {
        margin-right: 0;
        width: 24px;
        height: 24px;
    }

    .sidebarfooter {
        display: none;
    }


    .sidebar-btn.active {
        background-color: #091931;
    }
}