body {
    margin: 0;
    font-family: 'PT Sans';
    overflow: hidden;
    background-color: #F6F7F8;
}

.dNone {
    display: none;
}

.pointer {
    cursor: pointer;
}

main {
    margin-left: 232px;
    margin-top: 95px;

}


@media (max-width: 900px) {
    header {
        height: 70px;
        left: 0;
        padding: 0px 12px;
    }

    header p {
        display: none;
    }

    .join_logo_mobile {
        display: block;
    }

    .user-info img {
        display: none;
    }

    .sidebarlogo {
        display: none;
    }

    main {
        margin: 70px 0px 70px 0px;
        overflow: hidden;
       }

    .sidelinks {
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        padding: 0px 16px;
    }

    #sidebar {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 70px;
        bottom: 0;
        flex-direction: row;
        top: unset;
    }

    #widget_1,
    #widget_2,
    #widget_3,
    #widget_4 {
        flex-direction: column;
        cursor: pointer;
        border-radius: 8px;
        padding: 12px;
        gap: 3px;
        width: 60px;
        min-width: none;
        font-size: clamp(12px, 2.5vw, 16px);
        align-self: center;
        margin-bottom: 0px 12px;
    }

    .sidebarfooter {
        display: none;
    }
}

@media (max-width: 900px) {
   .sidelinks {
       padding: 0px 2px;
    }
 }
