body {
    margin: 0;
    font-family: 'PT Sans';
    overflow: hidden;
    background-color: #F6F7F8;
}

.dNone {
display: none;
}

.pointer {
    cursor: pointer;
}

.mainscreen{
    padding-left: 232px;
    padding-top: 20px;
}