header {
    background-color: white;
    text-align: center;
    height: 95px;
    display: flex;
    padding-left: 120px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 232px;
    top: 0;
    right: 0;
    /* box-shadow: inset 4px 4px 8px 0px rgba(0, 0, 0, 0);  */
}

header p {
    font-family: 'PT Sans';
    font-size: 24px;
}

.ser-icon {
    border-radius: 100%;
    border: 1px;
}

.join_logo_mobile {
    display: none;
}


.user-info {
    position:relative; 
    display: inline-block;
    display: flex;
    align-items: center;
    padding-right: 80px;

}

.user-icon{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
    color:#3498db ;
    font-weight: 700;
    
}

.user-icon:hover{   
    cursor: pointer;

}

.user-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color:#2A3647;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.user-menu a {
    color: #CDCDCD;
    padding: 5px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-radius: 5px;
}
.user-menu a:hover {
    background-color: rgba(52, 152, 219, 0.1);;
}
.hidden {
    display: none;
}