header {
    background-color: white;
    text-align: center;
    height: 95px;
    display: flex;
    padding-left: 120px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 232px;
    top: 0;
    right: 0;
    /* box-shadow: inset 4px 4px 8px 0px rgba(0, 0, 0, 0);  */
}

header p {
    font-family: 'PT Sans';
    font-size: 24px;
}

.ser-icon {
    border-radius: 100%;
    border: 1px;
}

.join_logo_mobile {
    display: none;
}


.user-info {
    display: flex;
    align-items: center;

}

.user-icon{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
    color:#3498db ;
    font-weight: 700;
}
