body {
    margin: 0;
}

#sidebar {
    background-color: #2A3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 232px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 0;
}

.sidebarlogo {
    height: 121px;
    width: 100px;
    padding-top: 64px;
    padding-bottom: 64px;
}

#sidebarimg {
    padding: 64px;
}

.sidebarimg {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

#widget_1,
#widget_2,
#widget_3,
#widget_4 {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* background: #2A3647; */

}

.sidebartext {
    text-decoration: none;
    color: #CDCDCD;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 16px;
}
.sidebarfooter a:hover{
    color: #29ABE2;
    font-weight: 700;
}

.sidelinks {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    height: 229px;
}

.widget{
    cursor: pointer;
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 130px;
}
.widget:hover{
    background: #2A3D59;
}

.sidebarfooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 243px;
    padding-bottom: 52px;
}

.sidebarfooter a {
    font-family: 'PT Sans';
    font-size: 16px;
    padding: 8px;
    gap: 8px;
    cursor: pointer;
}

.menuIcons p {
    margin: 0;
}

.sidelinks a {
    text-decoration: none;
    display: flex;
    align-items: center;

}