body{
    margin: 0;
}

aside {
    background-color: #2A3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;

}

.sidebarlogo {
    height: 121px;
    width: 100px;
    padding-top: 64px;
    padding-bottom: 64px;
}

#sidebarimg {
    padding: 64px;
}

.sidebarimg {
    height: 30px;
    width: 30px;
}

#widget_1,
#widget_2,
#widget_3,
#widget_4 {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidebartext {
    text-decoration: none;
    color: #CDCDCD;
    font-family: 'PT Sans';
    font-weight: 400;
}

.sidelinks {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    height: 229px;
}

.sidebarfooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 243px;
    padding-bottom: 52px;
}

.sidebarfooter a{
    font-family: 'PT Sans';
    font-size: 16px;
    padding: 8px;
    gap: 8px;
}

@font-face {
    font-display: swap;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v17-latin-regular.woff2') format('woff2');

}

@font-face {
    font-display: swap;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/pt-sans-v17-latin-italic.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v17-latin-700.woff2') format('woff2');

}


@font-face {
    font-display: swap;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/pt-sans-v17-latin-700italic.woff2') format('woff2');

}

@media (max-width: 900px) {
    aside {
        width: 100vw;
        height: 80px;
        bottom: 0;
        flex-direction: row;
    }

    .sidebarlogo {
        display: none;
    }

    .sidelinks {
        flex-direction: row;
        height: auto;
        width: 100%;
        justify-content: space-between;
        padding: 0px 16px;
    }

    #sidebar {
        justify-content: center;
    }

    #widget_1 {
        flex-direction: column;
        cursor: pointer;
    }

    .sidebarfooter {
        display: none;
    }
  }